<!DOCTYPE html>
<html lang="id">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Login Elearning @UniversitasTerbukaBot</title>
  </head>
  <body
    class="text-center"
    style="
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    "
  >
    <div id="app" style="margin: auto; padding: 15px">
      <form
        class="form-signin"
        style="margin: auto; padding: 15px; max-width: 330px"
        @submit="onSubmit"
      >
        <img class="mb-4" src="/logo.jpg" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">
          Login Elearning @UniversitasTerbukaBot
        </h1>
        <label for="inputUsername" class="sr-only">NIM</label>
        <input
          type="view"
          id="inputUsername"
          v-model="form.username"
          class="form-control"
          placeholder="NIM"
          required
          autofocus
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          v-model="form.password"
          class="form-control"
          placeholder="Password Elearning"
          required
        />
        <p>Password tidak akan disimpan!</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Dapatkan token
        </button>
      </form>
      <form
        style="margin: auto; padding: 15px; max-width: 330px"
        @submit="onLogin"
      >
        <label for="inputToken" class="sr-only">Token Elearning</label>
        <input
          type="view"
          id="inputToken"
          v-model="form.token"
          class="form-control"
          placeholder="Token Elearning"
          required
        />
        <p>Token dijaga kerahasiaannya & tidak akan disalahgunakan!</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Login
        </button>
      </form>
      <div>
        Setelah Login > Send Message / Kirim Pesan > START / MULAI
        <br />
        <br />
        Cara mendapatkan token manual:
        <br />
        Buka Elearning
        <br />
        Pengaturan saya > Preferensi > Kunci Keamanan > Salin Kunci yang baris
        <b>Moodle mobile web service</b>
        <br />
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script>
      function login(token) {
        var url = "https://t.me/UniversitasTerbukaBot?start=TOKEN-" + token;
        window.location.replace(url);
      }
      var app = new Vue({
        el: "#app",
        data: () => {
          return {
            form: {
              username: "",
              password: "",
              token: "",
            },
          };
        },
        methods: {
          onLogin(evt) {
            evt.preventDefault();
            axios
              .get("https://elearning.ut.ac.id/webservice/rest/server.php", {
                params: {
                  wstoken: this.form.token,
                  wsfunction: "core_webservice_get_site_info",
                  moodlewsrestformat: "json",
                },
              })
              .then(function (res) {
                if (
                  res.data.exception &&
                  res.data.errorcode == "moodle_exception"
                ) {
                  alert("Token tidak valid!");
                  this.app.form.token = "";
                  this.app.form.password = "";
                } else {
                  login(this.app.form.token);
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
              });
          },
          onSubmit(evt) {
            evt.preventDefault();
            axios
              .get("https://elearning.ut.ac.id/login/token.php", {
                params: {
                  username: this.form.username,
                  password: this.form.password,
                  service: "moodle_mobile_app",
                },
              })
              .then(function (res) {
                if (res.data.token) {
                  this.app.form.token = res.data.token;
                } else {
                  alert("Nim / password salah!");
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
              });
          },
        },
      });
    </script>
  </body>
</html>
